# OS
.DS_Store

# Editor/IDE
.vscode/
.idea/

# Python
**/.venv/
**/__pycache__/
*.pyc

# Java/Maven
**/target/
!.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/

# Logs
*.log
.aider*
